body {
    background-color: #fbfaf9;
}

nav ,nav > a{
    background-color: #6cc032;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

nav button.navbar-toggler{
    background-color:#f8f7f4;
}

nav button {
    border: 1px solid #f8f7f4;
    font-size: 22px;
    background-color: #6cc032;
    border-radius: 4px;
    color: #f8f7f4;
}

form .btn-success {
    background-color: #6cc032;
}

.btn-success-g {
    background-color: #6cc032;
    color: white;
}

.btn-danger-r {
    background-color: #d2342e;
    color: white;
}

.carousel img {
    height: 440px;
    object-fit: cover;
}

.container{
    padding-top: 40px;
    /*height: 100%;*/
}

.container .row {
    padding: 10px;
}

.container img {
    width: 200px;
    height: 260px;
}

.footer {
    color: #f8f7f4;
    background-color: #6cc032;
    height: 50px;
    font-size: 20px;
}

.footer > p {
    position: relative;
    top: 8px;
}