{{ define "book/new.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/static/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
        <title>新增書本</title>
    </head>
    <body>
    {{/* Header */}}
    {{template "header"}}
    {{/* Carousel */}}
    {{template "carousel"}}
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <form id = "addForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">書名</label>
                        <input type="text" class="form-control" id="name" name = "name" placeholder="Go程式設計">
                    </div>
                    <div class="form-group">
                        <label for="publication">出版商</label>
                        <input type="text" class="form-control" id="publication" name = "publication" placeholder="GoDown">
                    </div>
                    <div class="form-group">
                        <label for="author">作者</label>
                        <input type="text" class="form-control" id="author" name = "author" placeholder="Rikcy">
                    </div>
                    <div class="form-group">
                        <label for="price">價格</label>
                        <input type="text" class="form-control" id="price" name = "price" placeholder="100">
                    </div>
                    <div class="form-group">
                        <label for="content">描述</label>
                        <textarea class="form-control" id="content" name = "content" rows="15"></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-lg-4 col-form-label">圖片上傳</label>
                        <div class="col-lg-8">
                            <input type="file" class="form-control-file" id="image" name = "images"  multiple>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-success-g" onclick="add()">送出</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    {{template "footer"}}
    {{/* model */}}
    <div class="modal fade" id="model" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelLabel">結果</h5>
                </div>
                <div class="modal-body" id = "modelBody">
                </div>
                <div class="modal-footer" id = "modelFooter">
                </div>
            </div>
        </div>
    </div>
    </body>
    <script src="/assets/static/js/serializeobject.js"></script>
    <script src="/assets/static/js/ajaxfileupload.js"></script>
    <script type="application/javascript">
        function doRedirect() {
            window.location = "\\library\\"
        }
        
        function doClose() {
            $('#model').modal("hide")
        }

        function add() {
            $.ajaxFileUpload({
                url: "/library/book/add/",
                type:"POST",
                fileElementId : "image",
                secureuri:false,
                dataType:"json",
                data: JSON.parse($("#addForm").serializeObject()),
                async:false,
                success:function (data){
                    if (data.status == 200){
                        $("#modelBody").empty().append("新增成功。")
                        $("#modelFooter").empty().append("<button type=\"button\" class=\"btn btn-success-g\" onclick =\"doRedirect()\">確認</button>")
                        $('#model').modal({
                            "backdrop":"static",
                            "show":true,
                        })
                    }else{
                        $("#modelBody").empty().append("新增失敗。")
                        $("#modelFooter").empty().append("<button type=\"button\" class=\"btn .btn-danger-r\" onclick =\"doClose()\">關閉</button>")
                        $('#model').modal("show")
                    }
                }
            })
        }
    </script>
    </html>
{{ end }}